<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beiming.notebook.dao.mapper.PhotoMapper">
  <resultMap id="BaseResultMap" type="com.beiming.notebook.dao.model.Photo">
    <!--@mbg.generated-->
    <!--@Table photo-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="album_id" jdbcType="BIGINT" property="albumId" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="thumb_path" jdbcType="VARCHAR" property="thumbPath" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, album_id, `path`, thumb_path, create_time
  </sql>
</mapper>