<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beiming.notebook.dao.mapper.TagMapper">
    <resultMap id="BaseResultMap" type="com.beiming.notebook.dao.model.Tag">
        <!--@mbg.generated-->
        <!--@Table tag-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="pid" jdbcType="BIGINT" property="pid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        pid,
        `name`,
        remark,
        create_time,
        update_time
    </sql>

    <select id="selectTagByNoteId" resultMap="BaseResultMap">
        select t2.id          as id,
               t2.pid         as pid,
               t2.`name`      as name,
               t2.remark      as remark,
               t2.create_time as create_time,
               t2.update_time as update_time
        from note_tag_relation t1
                 left join tag t2 on t1.tag_id = t2.id
        where t1.note_id = #{noteId,jdbcType=BIGINT}
    </select>
</mapper>